<form method="post" action="">
    <input type="hidden" name="_method" value="put">
    <textarea cols="40" rows="5" name="post[title]" value="">EXISTING VALUE HERE</textarea>
    <input type="submit" value="Submit edit">
</form>
